/* body section style start here  */
body {
    max-width: 75%;
    margin: 0 auto;
}

/* Navbar style here  */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.navbar-logo .world {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.navbar-logo .travel {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.navbar ul {
    display: flex;
    gap: 44px;
}

.navbar ul li {
    list-style: none;

}

.navbar ul li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#home {
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* background-image style here  */
.background-image {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("./Images/Group\ 13\ \(1\)\ \(1\).png");
    height: 500px;
    border-radius: 16px;
    text-align: center;
    position: relative;
    margin-top: 60px;
}

.background-image-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.background-image-content h1 {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.background-image-content p {
    width: 676px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.travel-find-field {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.travel-find-field input {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    color: #fff;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    border: none;
    text-align: start;
}

.travel-find-field button {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    gap: 4px;
}



/* popular-section style here  */
.popular-section {
    display: flex;
    justify-content: space-between;
    gap: 4%;
    margin-top: 100px;
    align-items: start;
}

.popular-section-content {
    /* width: 48%; */
}

.popular-section-content h1 {
    color: #131318;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 0;
}

.popular-section-content p,
.popular-section-content li {
    width: 510px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.popular-section-image img {
    width: 100%;
}

.popular-section-content button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 32px;
    border: none;
}


/* destination-section style here  */
.destination-section{
    margin-top: 100px;
}
.destination-section-content {
    text-align: center;
}

.destination-section-content h1 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-section-content p {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 24px auto 48px;
}

.country {
    position: relative;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.country .country-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.destination-section-images {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 300px 300px 300px;
    gap: 24px;

}

.destination-section-images img {
    width: 100%;
    height: 100%;
}

.maldives {

    grid-column: 1 / 7;
}

.indonesia {

    grid-column: 7 / 13;
}

.srilanka {

    grid-column: 1 / 4;
}

.america {

    grid-column: 4 / 10;
}

.kashmir {

    grid-column: 10 / 13;
}

.bangladesh {

    grid-column: 1 / 5;
}

.bandarban {

    grid-column: 5 / 13;
}